.theme-color-171826 a,
.theme-color-171826 blockquote:before,
.theme-color-171826 .contact-map .contact-info a:hover,
.theme-color-171826 .skillicon-list i,
.theme-color-171826 .input-field.used label,
.theme-color-171826 .logo span,
.theme-color-171826 #map .map-icon,
.theme-color-171826 .nav-wrap .btn-mobile-nav,
.theme-color-171826 .page-404 h2 span,
.theme-color-171826 .post-box .post-title a:hover,
.theme-color-171826 .post-single .post-title a:hover,
.theme-color-171826 .post-comments .section-title,
.theme-color-171826 .ref-box .person-speech:before,
.theme-color-171826 .timeline-box .date,
.theme-color-171826 .widget-title,
.theme-color-171826 .widget_meta ul li a:hover,
.theme-color-171826 .widget_archive ul li a:hover,
.theme-color-171826 .widget_nav_menu ul li a:hover,
.theme-color-171826 .widget_categories ul li a:hover,
.theme-color-171826 .widget_recent_entries ul li a:hover,
.theme-color-171826 .widget_recent_comments ul li a:hover,
.theme-color-171826 .widget_search .search-form:before,
.theme-color-171826 .widget-popuplar-posts .post-title a:hover,
.theme-color-171826 .widget-recent-posts .post-title a:hover {
    color: #171826;
}

.theme-color-171826 ins,
.theme-color-171826 mark,
.theme-color-171826 .btn-primary,
.theme-color-171826 .btn-primary-outer,
.theme-color-171826 .btn-sidebar-close,
.theme-color-171826 .calendar-busy .calendar-body td .current-day,
.theme-color-171826 .calendar-busy .calendar-today .date,
.theme-color-171826 .filter .active:after,
.theme-color-171826 .filter-bar .filter-bar-line,
.theme-color-171826 .input-field .line:before,
.theme-color-171826 .input-field .line:after,
.theme-color-171826 .mobile-nav,
.theme-color-171826 .nav > ul > li > a > span,
.theme-color-171826 .post-datetime,
.theme-color-171826 .profile-social,
.theme-color-171826 .profile-preword span,
.theme-color-171826 .progress-bar .bar-fill,
.theme-color-171826 .progress-bar .bar-line:after,
.theme-color-171826 .price-box.box-primary .btn,
.theme-color-171826 .price-box.box-primary .price-box-top,
.theme-color-171826 .profile-list .button,
.theme-color-171826 .pagination .page-numbers.current,
.theme-color-171826 .pagination .page-numbers.current:hover,
.theme-color-171826 .pagination .page-numbers:active,
.theme-color-171826 .pagination .page-numbers.next:active,
.theme-color-171826 .pagination .page-numbers.prev:active,
.theme-color-171826 .timeline-bar,
.theme-color-171826 .timeline-box .dot,
.theme-color-171826 .timeline-box-compact .date span,
.theme-color-171826 .widget_tag_cloud a:hover {
    background-color: #171826;
}

.theme-color-171826 .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.theme-color-171826 .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #171826;
}

.theme-color-171826 .timeline-box-inner,
.theme-color-171826 .price-box.box-primary .btn,
.theme-color-171826 .widget_search .search-form,
.theme-color-171826 .widget_tag_cloud a:hover {
    border-color: #171826;
}

.theme-color-171826 .page-404 h2 span:before,
.theme-color-171826 .profile-preword span:before,
.theme-color-171826 .timeline-box-compact .date span:before {
    border-left-color: #171826;
}

.theme-color-171826 .price-box.box-primary .price-box-top:before {
    border-top-color: #171826;
}